/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    margin: 20px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1em;
}

.grid-header {
    display: grid;
    background-color: #12283E;
    color: #fff;
    grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
}

.skill-btn,
.proyectos-btn,
.contacto-btn,
.cv-btn {
    height: 50px;
    width: auto;
    border: 0;
    cursor: pointer;
    font-family: Ubuntu;
    font-size: 1em;
    color: #ffff;
    background-color: #12283E;
}

.skill-btn:hover,
.proyectos-btn:hover,
.contacto-btn:hover,
.cv-btn:hover {
    color: rgb(230, 17, 17);
    font-size: 2em;
}


/* Imagen mia y fondo*/

.fotomiaeimagen-div {
    display: flex;
    background-color: #12283E;
    border: 2px;
    color: #fff;
    display: flex;
    grid-column: 1/-1;
}

.fotomiaeimagen {
    height: 350px;
    width: 1918px;
    border: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: stretchable;*/
    background-image: url('./assets/images/fondo.jpg');
}


/* Skills */

.grid-skills {
    display: grid;
    background-color: #12283E;
    color: #fff;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.skillsname {
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
    height: 6em;
}

.skill-n1,
.skill-n2,
.skill-n3,
.skill-n4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.skill-n1-btn {
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
    background-image: url('./assets/images/ps-color.svg');
}


/*
.skill-n1-btn,
.skill-n2-btn,
.skill-n3-btn,
.skill-n4-btn {
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
}
*/

.skill-n2-btn {
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
    background-image: url('./assets/images/github-color.svg');
}

.skill-n3-btn {
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
    background-image: url('./assets/images/vs-color-azul.svg');
}

.skill-n4-btn {
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
    background-image: url('./assets/images/html.svg');
}


/* Proyectos */

.proyecto-n1,
.proyecto-n2,
.proyecto-n3,
.proyecto-n4 {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.grid-proyectos {
    display: grid;
    background-color: #12283E;
    color: #fff;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.proyectoname {
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
}


/* Formulario */

.grid-formulario {
    display: grid;
    background-color: #12283E;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.formcontact {
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
}

.FormTextName,
.FormTextMail,
.FormTextComentario {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1em;
}

.FormInputName,
.FormInputMail,
.FormInputComentario {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin: 1em;
}

.FormEnviarBtn {
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
}

.btn-enviar {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
    font-family: Ubuntu;
    font-size: 2em;
    color: #ffff;
    background-color: #12283E;
}

.btn-enviar:hover {
    color: rgb(230, 17, 17);
}


/* Footer */

.footer {
    display: grid;
    background-color: #12283E;
    color: #fff;
    padding: 10px;
    grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
}

.twitterbtn,
.facebookbtn,
.mailbtn,
.linkedinbtn {
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-size: stretchable;
}

.twitterbtn {
    background-image: url('./assets/images/twitter.svg');
}

.facebookbtn {
    background-image: url('./assets/images/facebook.svg');
}

.mailbtn {
    background-image: url('./assets/images/mail.svg');
}

.linkedinbtn {
    background-image: url('./assets/images/linkedin.svg');
}

.boxbtn {
    display: flex;
    justify-content: center;
}

.footer-contacto {
    display: flex;
    align-items: center;
}


/*
    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.03);
      }
      
  */


/*
div1 {
    position: relative;
    height: 90vh;
    box-shadow: 2px 2px 5px;
    background: #fff;
    filter: contrast(7);
    --mask: linear-gradient(red,
    #{rgba(#000, .45)});
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(#000, transparent) 0 0/ 1em 1em space;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        content: ''
    }
}
    */