<div class="container">
    <!-- Logo and buttons-->
    <div class="header">
        <div>
            <h1> #YOPROGRAMO </h1>
        </div>
        <div class="grid-header">
            <div class="logobtn"> </div>
            <div class="skillsbtn"> <input class="skill-btn" type="button" value="Skills"> </div>
            <div class="proyectosbtn"> <input class="proyectos-btn" type="button" value="Proyectos"> </div>
            <div class="contactobtn"> <input class="contacto-btn" type="button" value="Contacto"> </div>
            <div class="cvbtn"> <input class="cv-btn" type="button" value="Descargar CV"> </div>
        </div>
    </div>
    <!-- Foto mia y algun fondo de imagen -->
    <div class="fotomiaeimagen-div">

        <input class="fotomiaeimagen" type="button">

    </div>

    <!-- Skills-->

    <div class="grid-skills ">
        <div class="skillsname">
            <h3>Skills</h3>
        </div>

        <div class="skill-n1">
            <input class="skill-n1-btn" type="button">
        </div>

        <div class="skill-n2">
            <input class="skill-n2-btn" type="button">
        </div>

        <div class="skill-n3">
            <input class="skill-n3-btn" type="button">
        </div>

        <div class="skill-n1">
            <input class="skill-n4-btn" type="button">
        </div>
    </div>


    <!-- Proyectos -->
    <div class="grid-proyectos ">
        <div class="proyectoname">
            <h3> Proyectos</h3>
        </div>
        <div class="proyecto-n1">
            <input type="button" value="nombre1 ">
        </div>

        <div class="proyecto-n2">
            <input type="button" value="nombre2 ">
        </div>

        <div class="proyecto-n3">
            <input type="button" value="nombre3 ">
        </div>

        <div class="proyecto-n4">
            <input type="button" value="nombre4 ">
        </div>

    </div>


    <!-- Formulario Contacto-->
    <div class="grid-formulario ">
        <div class="formcontact">
            <h2> Formulario de Contacto</h2>
        </div>
        <div class="FormTextName">
            <h4> Nombre</h4>
        </div>
        <div class="FormInputName">
            <input type="text" value="nombre ">
        </div>
        <div class="FormTextMail ">
            <h4> Mail</h4>
        </div>
        <div class="FormInputMail ">
            <input type="email" value="correo ">
        </div>
        <div class="FormTextComentario ">
            <h4> Comentario</h4>
        </div>
        <div class="FormInputComentario ">
            <input type="text" value="comentario ">
        </div>
        <div class="FormEnviarBtn"><button class="btn-enviar" type="submit" text="Enviar ">Enviar</button></div>

    </div>



    <footer class="footer ">
        <div class="boxbtn "><input class="twitterbtn" type="button" alt="Twitter"></div>
        <div class="boxbtn "><input class="facebookbtn" type="button" alt="Facebook"></div>
        <div class="boxbtn ">
            <h3 class="footer-contacto">Contacto</h3>
        </div>
        <div class="boxbtn "><input class="mailbtn" type="button" alt="Mail"></div>
        <div class="boxbtn "><input class="linkedinbtn" type="button" alt="Linkedin"></div>
    </footer>
</div>


<router-outlet></router-outlet>